body {
    background: white;
}

a:hover {
    color: #a3d2e3;
}

.headermain {
    margin-top: 40px;
    background: url("../images/layout/header.jpg") repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 330px;
}

.headercover {
    margin-top: -330px;
    height: 330px;
    background: rgba(211, 211, 211, 0.83);
    text-align: center;
    color: white;
}

    .headercover h1 {
        padding-top: 150px;
        font-family: Futura-pt;
        font-size: 70px;
    }

.wrap {
    max-width: 1020px;
    margin: 0 auto;
}

.filtermenu {
    margin: 30px 0px;
}
    
    .filtermenu ul {
        font-family: Futura-pt;
        padding: 0;
        margin: 0;
    }
    
        .filtermenu ul li {
            display: inline;
        }
        
        .filtermenu ul a {
            color: white;
            background: #d4d4d4;
            font-size: 15px;
            padding: 10px 12px;
        }
        
        .filtermenu ul a.current {
            background: #93cbdd;
        }