body {
	background: #999999;
	margin: 0px;
	padding: 0px;
}
		
.layout {
	margin: 0px auto;
	padding: 0px;
	width: 1020px;
}

.header {
	color: white;			
	background: url(layoutimage.jpg) #666666;		
	width: auto;			
	height: 200px;		
}
		
.menu {
	color: black;			
	background: #CCCCCC;		
	width: 200px;			
	min-height: 200px;
	float: left;
}

.content {
	color: black;			
	background: white;		
	width: 600px;			
	min-height: 200px;
	float: left;
}
.footer {
	color: white;		
	background: black;
	width: auto;
	height: 50px;
	clear: both;
}